/.settings
/.project
/hermes-core/.project
/hermes-core/.settings
/hermes-core/target
/hermes-core/.classpath
/hermes-common/.project
/hermes-common/.settings
/hermes-common/target
/hermes-common/.classpath
